<footer>
  <div class="tweets">
    <div class="container">
      <div class="tweet-contant">
        <span style="float: left; margin: 0px 20px;"><%= t ".website" %></span>
        <span style="float: right; margin: 0px 20px;">
          <span id="hours"></span>
          <span id="point">:</span>
          <span id="min"></span>
          <span id="point">:</span>
          <span id="sec"></span>
        </span>
        <span style="float: right; margin: 0px 20px;" id="Date"></span>
      </div>
    </div>
  </div>
</footer>
